.todo-container {
  display: flex;
  justify-content: center;

  .todo-items {
    .ribbon3 {
      // display: inline-block;
      position: relative;
      box-sizing: border-box;
      width: 20vw;
      height: 60px;
      padding: 7px 0;
      margin: 0 auto;
      font-size: 18px;
      line-height: 60px;
      color: #fff;
      text-align: center;
      background: #acd879;

      h3 {
        padding: 0 30px;
        // text-align: center;
        margin: 0;
        line-height: 42px;
        border-top: dashed 2px rgb(255 255 255 / 50%);
        border-bottom: dashed 2px rgb(255 255 255 / 50%);

        &::after,
        &::before {
          position: absolute;
          z-index: 1;
          width: 0;
          height: 0;
          content: '';
        }

        &::before {
          top: 0;
          left: 0;
          border-color: transparent transparent transparent #fff;
          border-style: solid;
          border-width: 30px 0 30px 15px;
        }

        &::after {
          top: 0;
          right: 0;
          border-color: transparent #fff transparent transparent;
          border-style: solid;
          border-width: 30px 15px 30px 0;
        }
      }

      .done-title {
        background: salmon;
      }
    }

    .card-container {
      display: flex;
      flex-direction: column;

      .card-item {
        position: relative;
        width: 40vw;
        height: auto;
        padding: 8px;
        margin: 2vw;
        background-color: '#ccc';

        .card-options {
          display: flex;
          justify-content: space-between;

          .material-icons {
            color: pink;
          }
        }

        .submit-button {
          margin: 0 0 0 auto;
          background-color: #2196f3;
        }

        .content {
          line-height: 60px;
        }

        .card-title-form {
          width: 100%;
          margin: 10px;
        }

        .edit-icon {
          float: right;
          color: lightseagreen;
          background: none;
          border: none;
        }
      }
    }
  }
}
